<h1> <%= @task.title %>  </h1>
<h2>  <%= @task.details%> </h2>
  <h2>
    <%= @task.completed ? "Task Completed" : "Task Pending" %>
  </h2>

<div class="btn btn-info">
  <%= link_to "Edit this task", task_edit_path(@task) %>
</div>
